@use '../_config.scss' as *;

// |‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾| //
// | Component: button                       | //
// |_________________________________________| //

// see docs/components/button.md
.drg-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    &.btn {
        @include typo(body-m);
        @include vwUnit(padding-block, 12, 14.77);   // 12 @390
        @include vwUnit(padding-inline, 20, 24.62);  // 20 @390

        border-radius: 10px;

        border: 1px solid transparent;

        @include transition(all .3s ease);
    }

    &.btn-primary {
        color: color( white );
        background-color: color( purple );
        border-color: color( purple );
    }

    &.btn-secondary {
        color: color( white );
        background-color: transparent;
        border-color: color( grey, 15 );
    }

    &.btn-primary,
    &.btn-secondary {
        @include fullState {
            color: color( grey, 08 );
            background-color: color( purple, 75 );
            border-color: color( purple, 75 );
        }
    }

    &--link {
        padding: 0;
        background: none;
        border: 0;
        color: inherit;
    }

    &--light {
        color: color( white );
        text-decoration: underline;

        @include fullState {
            color: color( purple, 75 );
        }
    }
}
