@use '../_config.scss' as *;

// |‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾| //
// | Component: header banner                | //
// |_________________________________________| //

// see docs/components/header-banner.md
.drg-header-banner {
    background-color: color( grey, 10 );

    background-image: var(--drg-banner-bg, none);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__inner {
        display: flex;
        align-items: center;
        justify-content: center;
        @include vwUnit(column-gap, 10, 12.31);      // 10 @390

        @include vwUnit(padding-top, 18, 49.23);     // 40 @390
        @include vwUnit(padding-bottom, 18, 24.62);  // 20 @390

        @include vwUnit(padding-inline, 42, 44.31);  // 36 @390

        @media screen and (max-width: 480px) {
            justify-content: flex-start;
            padding-left: 0;
        }
    }

    &__text {
        @include typo(banner-text);
        margin: 0;
        min-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    &__link {
        @include typo(banner-text);
        flex-shrink: 0;
    }

    &__close {
        position: absolute;

        @include vwUnit(top, 31.5, 60.31);           // 49 @390
        transform: translateY(-50%);

        right: $containerPadding;

        @include vwUnit(width, 32, 32);              // 26 @390
        @include vwUnit(height, 32, 32);             // 26 @390
        @include vwUnit(font-size, 24, 16);       // 9 @390 -- icon is sized in em

        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
        color: color( white );
        background-color: rgba( color( white ), .1 );
        border: 0;
        border-radius: 50%;
        cursor: pointer;
        @include transition(background-color .3s ease);

        @include fullState {
            background-color: rgba( color( white ), .2 );
        }
    }
}
