@use '../_config.scss' as *;

// |‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾‾| //
// | Component: main navbar                  | //
// |_________________________________________| //

// see docs/components/navbar.md
.drg-navbar {
    background-color: color( grey, 10 );
    @include vwUnit(padding-block, 16); 

    &__toggler,
    &__close {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;

        min-width: 44px;
        min-height: 44px;

        color: color( white );
        background: none;
        border: 0;
        border-radius: 10px;
        cursor: pointer;
        @include transition(all .3s ease);

        @include fullState {
            color: color( grey, 08 );
            background-color: color( purple, 75 );
            box-shadow: 0 0 0;
        }

        &:focus-visible {
            border: 1px solid;
        }
    }

    &__toggler {
        @include vwUnit(font-size, 29.33, 36.10);   // 22px glyph @390

        box-shadow: none;
    }

    &__close {
        @include vwUnit(font-size, 24, 29.54);      // 13.5px glyph @390
    }

    &__logo {
        @include vwUnit(height, 41, 29.54);      // 24 @390
        width: auto;
        max-width: 100%;
    }

    &__menu {
        @include vwUnit(column-gap, 10, 12.31);      // 10 @390
    }

    &__menu--main {
        @media (min-width: 1200px) {
            margin-inline: auto;
        }
    }

    &__menu > li > a {
        @include typo(body-m);
        @include vwUnit(padding-block, 12, 14.77);   // 12 @390
        @include vwUnit(padding-inline, 20, 24.62);  // 20 @390

        display: inline-block;
        color: color( white );
        text-decoration: none;
        border-radius: 10px;

        border: 1px solid transparent;

        @include transition(all .3s ease);

        @media (max-width: 1199px) {
            display: block;
        }
    }

    &__menu > li.current-menu-item > a,
    &__menu--right > li > a {
        background-color: color( grey, 08 );
        border-color: color( grey, 15 );
    }

    &__menu--right > li > a {
        @media (max-width: 1199px) {
            background-color: transparent;
            border-color: transparent;
        }
    }

    &__menu > li > a {
        @include fullState {
            color: color( grey, 08 );
            background-color: color( purple, 75 );
            border-color: color( purple, 75 );
        }
    }

    &__offcanvas {
        background-color: color( grey, 10 );

        @media (max-width: 767px) {
            --bs-offcanvas-width: 100%;

            border-left: 0;
        }
    }

    &__offcanvas-header {
        justify-content: flex-end;
    }

    &__offcanvas-body {
        display: flex;
        flex-direction: column;
        @include vwUnit(row-gap, 10, 12.31);     // 10 @390

        @media (min-width: 1200px) {
            flex-direction: row;
            align-items: center;
            row-gap: 0;
        }
    }
}
